.genbtnlink {
  width: "216px";
  /* height: 20px; */
}
.uprtxt {
  width: 140px;
}
/*  */
.widmsg {
  width: 109px;
}

@media only screen and (min-width: 1200px) and (max-width: 1345px) {
  .genbtnlink {
    padding: 2px;
    width: 150px;
    font-size: 12px;
  }
  .mergedchatlink {
    padding: 2px;
    width: 133px;
    font-size: 12px;
  }
  .newchat {
    width: 96px;
    padding: 2px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .genbtnlink {
    padding: 2px;
    width: 140px;
    font-size: 11px;
  }
  .mergedchatlink {
    padding: 2px;
    width: 125px;
    font-size: 11px;
  }
  .newchat {
    width: 78px;
    padding: 2px;
    font-size: 11px;
  }
  .allbtn {
    width: 55px;
    padding: 2px;
    font-size: 14px;
  }
  .manualbtn {
    width: 65px;
    padding: 2px;
    font-size: 14px;
  }
  .gpa {
    display: flex;
    gap: 4px;
  }
}

@media only screen and (min-width: 430px) and (max-width: 555px) {
  .uprtxt {
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 15px;
    width: 113px;
    height: 35px;
  }
}
@media only screen and (min-width: 100px) and (max-width: 430px) {
  .uprtxt {
    display: none;
  }
}

@media only screen and (min-width: 580px) and (max-width: 640px) {
  .widthcon {
    width: 80vw;
    padding-left: 20px;
  }
  .widmsg {
    width: 0px;
  }
  
}
@media only screen and (min-width: 480px) and (max-width: 580px) {
  .widthcon {
    width: 75vw;
    padding-left: 25px;
  }
  .widmsg {
    width: 0px;
  }
 
}
@media only screen and (min-width: 100px) and (max-width: 480px) {
  .widthcon {
    width: 70vw;
    padding-left: 30px;
  }
  .widmsg {
    width: 0px;
  }
  .hedr {
    justify-content: center;
    align-items: center;
  }
}
